body {
    font-family: "Roboto", sans-serif;
    line-height: 1.21;
    color: #434455;
    background-color:#FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

 .container {
    width: 1440px;
     margin: 0 auto;
     padding: 0 15px;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

  .section {
      padding-top: 120px;
      padding-bottom: 120px;
  }

 header {
     border-bottom: 1px solid #ccc;
 }

.header-nav {
    width: 1440px;
}

.header-navi{
    display: flex;
    align-items: center;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    padding-left: 156px;
}

.header-menu-list{
    display: flex;
    gap: 40px;
}

.logo-black {
    color:#2e2f42;

}

.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-nav:hover{
    color:#404bbf
}

.link-nav:focus{
    color:#404bbf ;
}

.address{
    font-style: normal;
}

.address-div{
    display: flex;
    gap: 40px;
    padding-right: 156px;
}
   
.address-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-1{}

.address-text:hover,
.address-text:focus{
    color: #404bbf;
}

.business {
    background: #2e2f42;
}

.business-div{
    align-items: center;
}

.business-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.business-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4d5ae5;
    cursor: pointer;
}

.business-button:hover,
.business-button:focus{
   background-color: #404BBF;
}

.strategy {}

.strategy-list {
    display: flex;
    gap: 24px;
}

.strategy-iteil {}
 
.strategy-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.strategy-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.team {
    background: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-iteil {
    background-color: #FFFFFF;
}

.team-img {}

.team-head {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color:#434455;
}

.portfolio {}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}


.portfolio-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}

.footer{
    background: #2e2f42;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-white {
    color: #f4f4fd;
}

.text-footer {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}